H1 { text-align: center; }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
DL.el { margin-left: -1cm }
DIV.fragment { width: 100%; border: none; background-color: #eeeeee }
DIV.ah { background-color: black; margin-bottom: 3; margin-top: 3 }
TD.md { background-color: #f2f2ff }
DIV.groupHeader { margin-left: 16; margin-top: 12; margin-bottom: 6; font-weight: bold }
DIV.groupText { margin-left: 16; font-style: italic; font-size: smaller }
FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }
a
{
	color:#3300CC;
	font-size:10pt;
	text-decoration: none;
}
a:hover 
{ 
	text-decoration:underline;
}
body 
{ 
	background-color:white;
	font-family:Arial,Helvetica;
}
.textheader
{
	color:seagreen;
	font-style:italic;
	font-size:12pt;
	font-weight:bold;
}
.textbody
{
	font-size:10pt;
}
.textimportant
{
	font-style:italic;
	font-size:10pt;
	color:darkred;
}
.texttodo
{
	font-style:bold;
	font-size:10pt;
	color:darkblue;
}
.footnote
{
	font-size:9pt;
}
.navigatorheader
{
	font-size:9pt;
	font-family:Courier New;
	font-weight:bold;
	text-decoration:underline;
}
.navigator
{
	background-color:#FFFFCC;
}
