# This Makefile is a template for the Makefile used in the build
# directories.
#

srcdir := @SRCDIR@

all:

%:: force-the-rule
	$(MAKE) -r -I$(srcdir) -f $(srcdir)/Makefile srcdir=$(srcdir) "$@"

force-the-rule: ; 

.PHONY: Makefile

# clear all implicit rules allowing .S targets
.SUFFIXES:

