# generate a default config when new options appear
#
# This script saves your old config and creates the default config
# using the menu-driven config tool with the old default config.
# DROPS_STDDIR is purged from the default config this way.
set -e
rm -f Makeconf.bid.saved ../Makeconf.bid.local ../Makeconf.bid.converted
test ! -r ../.Makeconf.bid || mv ../.Makeconf.bid Makeconf.bid.saved
( cd .. && make config )
sed -e '/^DROPS_STDDIR=.*$/D' ../.Makeconf.bid >defconfig/config.default
rm -f ../Makeconf.bid.local ../.Makeconf.bid
test ! -r Makeconf.bid.saved || (
	mv Makeconf.bid.saved ../.Makeconf.bid
	( cd .. && make oldconfig )
)
